<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client.safelyblue.safelyblueclient">

    <application android:name=".SafelyBlueApplication" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name="com.client.safelyblue.safelyblueclient.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.client.safelyblue.safelyblueclient.ScheduledPositionSync">
            <intent-filter>
                <action android:name="com.example.app.PERIODIC_TASK_HEART_BEAT" />
            </intent-filter>
        </receiver>
        <service android:name="com.client.safelyblue.safelyblueclient.PositionSyncTriggerService" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
